[app]
PageSize = 10
JwtSecret = 233
RuntimeRootPath = runtime/

ImagePrefixPath = http://127.0.0.1:8088
ImageSavePath = upload/images/

ImagaMaxSize = 5
ImageAllowExts = .jpg,.jpeg,.png

LogSavePath = logs/
LogSaveName = log
LogFileExt = log
TimeFormat = 20060102

[server]
RunMode = debug
HttpPort = 8088
ReadTimeout = 60
WriteTimeout = 60

[database]
Drive = mysql
User = root
Password = 123456
Host = mysql:3306
Name = gin
TablePrefix = blog_

[redis]
Host = redis:6379
Password =
MaxIdle = 30
MaxActive = 30
IdleTimeout = 200