Server:
  RunMode: debug
  HttpPort: 8080
  ReadTimeout: 60s
  WriteTimeout: 60s

Mysql:
  User:
  Password:
  Host:
  DBName:
  TablePrefix:
  Charset: utf8mb4
  ParseTime: True
  MaxIdleConns: 10
  MaxOpenConns: 30
